name: 'Daily Job(freetv)'

on:
  schedule:
    - cron: '45 23 * * *'  # 每天UTC时间23:45运行
  workflow_dispatch:
    inputs:
      environment:
        description: 'Daily Job(freetv)'
        required: true
        default: 'production'

jobs:
  run_job:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Sync with remote main
      run: |
        git fetch origin main
        git checkout main
        git pull --rebase origin main
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        
    - name: Run Python script
      run: python assets/freetv/freetv.py
          
    - name: Commit changes
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

          current_datetime=$(date +"%Y%m%d_%H%M%S")
          zip_filename="history/freetv/${current_datetime}_freetv_output.zip"
          zip "${zip_filename}" assets/freetv/freetv_output.txt

          git add assets/freetv/freetv_output.txt \
                 assets/freetv/freetv_output_cctv.txt \
                 assets/freetv/freetv_output_ws.txt \
                 assets/freetv/freetv_output_other.txt \
                 "${zip_filename}"
          git commit -m ":tv: (Freetv)AutoUpdate $(date -d \"+8 hours\" +'%Y%m%d') | archive ${current_datetime}"

    - name: Rebase with remote
      run: |
        git pull --rebase origin main || true
          
          
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
    
        
